/* TRASH */

article {
	min-width: 600px;
	width: 100%;
	max-width: 800px;
	border: thin solid #333;
	margin: 1rem auto;
}

.name {
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem;
}

.description {
	text-indent: .5rem;
	text-align: justify;
	padding: 0 1rem;
}

.price {
	text-align: right;
	font-weight: 600;
	font-family: Helvetica;
	padding: .5rem;
}

.price:after {
	content: "р."
}

.wrap {
	display: flex;
}

.wrap figure {
	margin: 0 .5rem;
	width: 100px;
	height: auto;
}

.wrap img {
	max-width: 100%;
	height: auto;
}

input.submit {
	font-size: 2rem;
	font-family: Helvetica;
	font-weight: bold;
	width: 100%;
	padding: 1rem;
}



/* *TRASH */